<div class="panel-from-right panel-from-right-home">
    <nav class="navigation-menu navigation-menu-home">
        <div class="center-container-menu">
            <div class="center-block-menu">
                <ul class="menu">
                    <li>
                        <a class="active" href="index-01.html">Home</a>                            
                    </li>
                    <li>
                        <a href="about.html">About</a>                            
                    </li>
                    <li>
                        <a href="works.html">Works</a>                            
                    </li>
                    <li>
                        <a href="news.html">News</a>                            
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>                            
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>