<section id="footer">
  <div class="inner-divider"></div>

  <div class="container-fluid sections">
    <div class="row footer-credits">
      <div class="footer-credits-logo">
        <img alt="Ex Nihilo" src="intro-images/img/logo-footer.png" />
      </div>

      <h2 class="hide-me">Placeholder</h2>

      <div class="inner-divider-ultra-half"></div>

      <div class="footer-credits-copyright-wrapper">
        <div class="footer-credits-copyright">
          <a
            class="link-underline"
            href="https://themeforest.net/user/ex-nihilo?ref=ex-nihilo"
            target="_top"
            >ex-nihilo</a
          >
          &copy; All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</section>
